body {
    background-color: #1c2238;
}

.logo-text {
    color: #7b839b!important;
    font-size: medium;
    font-weight: 700;
}

.sidenav {
    background-color: #262d47;
    width: 100px;
    color: white;
}

.nav-icon:hover {
    color: #7576fd;
}
.nav-icon{
    color:white;
}

.coins-div{
    padding-top: 50px;
    color:white;
    
}
.user-view{
    padding-top: 100px;
    
}

.currency_logo{
    height: 32px;
    width: 32px;
}

#myChart {
    width: 600px!important;
    height: 400px!important;
}


.sidenav .user-view {
      margin-top: 100px;
}