body{
    background-color: #1c2238;
}

.nav-wrapper{
    background-color: #3c4564;
    
}

.brand-logo{
    color: #7b839b!important;
}

.sidenav{
    background-color: #262d47;
    width: 160px;
    color:white;
}

.sidenav:hover{
    color:#7b839b;
}

#myChart{
    width: 600px!important;
    height:400px!important;
}