body {
    background-color: #1c2238;
}

.logo-text {
    color: #7b839b!important;
    font-size: medium;
    font-weight: 700;
}

.sidenav {
    background-color: #262d47;
    width: 160px;
    color: white;
}

.nav-icon:hover {
    color: #7576fd;
}
.nav-icon{
    color:white;
}

#myChart {
    width: 600px!important;
    height: 400px!important;
}